body {
    position: relative;
    font-family: 'ProximaNova', sans-serif;
    max-width: 100%;
    min-width: 320px;
    height: auto;
    background-color: #f2f2f2;
}
img {
    max-width: 100%;
}
a:hover, a:active, a:focus {
    text-decoration: none;
}
.tender {
    width: 100vw;
    height: auto;
    background-color: #f1f1f1;
}
.tender__container--top {
    border-bottom: 2px solid #d2d2d2;
}
.tender__title--wrap,
.tender__links--wrap {
    width: 1111px;
    height: auto;
}
.tender__title--wrap {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 41px auto;
}
.tender__title {
    font-family: 'ProximaNova-Extrabld', sans-serif;
    font-size: 45px;
    color: #061e31;
    padding-right: 155px;
    padding-left: 26px;
    position: relative;
}
.tender__title:after {
    position: absolute;
    content: "12";
    font-family: 'ProximaNova', sans-serif;
    font-size: 32px;
    color: #5e6367;
    top: 10px;
    left: 217px;
}
.tender__text {
    width: 772px;
    height: 87px;
    font-size: 20px;
    line-height: 1.45;
    color: #797979;
    padding-right: 26px;
}
.tender__links--wrap {
    margin: 97px auto 0;
    padding-left: 26px;
} 
.tender__links {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; 
}
.tender__link {
    font-size: 17px;
    font-weight: bold;
    line-height: 1.06;
    color: #16b1ef;
    margin-right: 29px;
    padding-bottom: 7px;
    margin-bottom: -2px;
}
.tender__link:hover,
.tender__link--active {
    color: #2a2a2a;
    border-bottom: 1.5px solid #2a2a2a;
    padding-bottom: 7px;
}
.tender__link--number {
    padding-left: 7px;
}
.tender__container--bottom {
    width: 1111px;
    margin: 35px auto 59px;
}
.tender__inner {
    width: 1111px;
    height: auto;
    border-radius: 6px;
    -webkit-box-shadow: 0 6px 13px 0 rgba(0, 0, 0, 0.06);
            box-shadow: 0 6px 13px 0 rgba(0, 0, 0, 0.06);
    background-color: #ffffff;
    padding: 14px 24px 0;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 30px 124px 244px 206px 211px 139px 106px;
        grid-template-columns: 30px 124px 244px 206px 211px 139px 106px; 
}
.grid__item {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-align-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.grid__item--cell,
.grid__item--cell-last {
    height: 90px;  
}
.grid__item--cell {
    border-bottom: 1px solid #d8d8d8;
}
.tender__inner--title {
    font-size: 14px;
    font-weight: 300;
    line-height: 1.57;
    letter-spacing: 0.6px;
    color: #aaaeb3;
    text-transform: uppercase;
    padding-bottom: 9px;
}
.tender__arrow--link {
    color: #aaaeb3;
}
.tender__inner--first {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-column-span: 2;
    grid-column-end: 3;
 } 
.tender__arrow {
    padding-left: 4px;
    padding-bottom: 2px;
} 
.tender__checkbox {
    -webkit-appearance: checkbox;
    width: 30px;
    height: 30px;
    border-radius: 4px;
    background-color: #0682fe;
    position: relative;
}
label input {
    display: none;
}
label span {
    height: 30px;
    width: 30px;
    background-color: transparent;
    border-radius: 4px;
    border: 2px solid #0682fe;
    display: inline-block;
    position: relative;
    background-color: #FFF;
    border-radius: 4px;
    padding: 3px;
}
[type=checkbox]:checked + span:before {
    content: '\2713';
    position: absolute;
    top: -1px;
    left: -1px;
    font-size: 27px;
    font-weight: bold;
    color: #fff;
    line-height: 1.2;
    background: #0682fe;
    text-align: center;
    width: 27px;
    height: 27px;
}
.tender__agency {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.tender__agency--title {
    font-size: 20px;
    font-weight: bold;
    line-height: 1.1;
    letter-spacing: normal;
    color: #292929;
    margin-right: 7px;
    border-bottom: solid 1px #c1c1c1; 
}
.tender__agency--title:hover {
    border-bottom: solid 1px transparent;
}
.tender__agency--wrap .pro__badge {
    display: none;
}
.tender__agency--wrap.tender__agency--wrap-pro .pro__badge {  
    width: 36px;
    height: 19px;
    background-color: #fdb815;
    font-size: 13px;
    font-weight: 600;
    line-height: 1.46;
    letter-spacing: 0.5px;
    color: #2a2a2a;
    text-transform: uppercase;
    display: block;
    text-align: center;
    padding-top: 1px;
    margin-bottom: 17px;
}
.tender__city,
.tender__projects,
.tender__years {
    font-size: 20px;
    line-height: 1.1;
    color: #292929;
}
.tender__price--filled {
    fill: #000;
}


/*.tender__inner:last-child {
    border-bottom-right-radius: 6px!important;
    border-bottom-left-radius: 6px!important;
}
.tender__inner:last-child .grid__item--cell{
    border-bottom: none;
}
*/


